---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro'
import Model3Section from '../components/Model3Section.astro';
import ModelXSection from '../components/ModelXSection.astro';
import ModelYSection from '../components/ModelYSection.astro';
import ModelSSection from '../components/ModelSSection.astro';
import SolarPanelsSection from '../components/SolarPanelsSection.astro';
import TechoSolarSection from '../components/TechoSolarSection.astro';
import PowerwallSection from '../components/PowerwallSection.astro';
import AccesoriosSection from '../components/AccesoriosSection.astro';
---

<Layout title="Welcome to Astro.">
	<Header/>
	<main class="relative w-full h-screen overflow-auto snap-y snap-mandatory">
		<div class="snap-center">
			<HeroSection/>
		</div>
		<div class="snap-center">
			<Model3Section/>
		</div>
		<div class="snap-center">
			<ModelYSection/>
		</div>
		<div class="snap-center">
			<ModelSSection/>
		</div>
		<div class="snap-center">
			<ModelXSection/>
		</div>
		<div class="snap-center">
			<SolarPanelsSection/>
		</div>
		<div class="snap-center">
			<TechoSolarSection/>
		</div>
		<div class="snap-center">
			<PowerwallSection/>
		</div>
		<div class="snap-center">
			<AccesoriosSection/>
		</div>
		
	</main>
</Layout>


