<section class="relative w-screen h-screen overflow-hidden text-center bg-black " data-header-color="black">
    <div class="relative z-30 flex flex-col h-full">
        <header class="">
            <h2 class="pt-40 text-[40px] font-medium text-black">Accesorios</h2>
            <p class="text-sm text-black"></p>
        </header>

        <footer class="flex flex-col justify-end flex-grow pb-20">
            <div class="flex mx-auto gap-x-6">
                <a class="border-[3px] text-center border-white inline-flex items-center justify-center px-12 py-2 text-sm font-medium text-black transition-colors bg-white rounded hover:bg-black hover:text-white hover:border-black" href="#">
                   Comprar ahora
                </a>
            </div>
          
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0 z-10 w-full h-full">
        <img src="./imagen8.webp" alt="">
    </div>
</section>