<section class="relative w-screen h-screen overflow-hidden text-center bg-black " data-header-color="white"> 
    <div class="relative z-30 flex flex-col h-full">
        <header class="">
            <h2 class="pt-40 text-[40px] font-medium text-white">Experimente Tesla</h2>
            <p class="text-sm text-white">Programe una unidad de demostración hoy </p>
        </header>

        <footer class="flex flex-col justify-end flex-grow pb-20 flex-nowrap">
            <div>
                <a class="inline-block px-8 py-2 font-medium text-white border-[3px] border-white rounded hover:bg-white hover:text-black transition-colors bg-white/5 backdrop-blur-sm" href="#">
                    Unidad de demostración
                </a>
            </div>
            
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0 z-10 w-full h-full">
        <video class="object-cover object-center w-full h-full" src="./video.webm" autoplay muted loop></video>
    </div>
</section>